<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Resume</title>
        <!--Font we will use for the resume-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
        <!-- Reset File -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
        <!-- Ref to stylesheet -->
        <link href="../static/css/res_style.css" rel="stylesheet">
        <!-- Divide everything into setions using a class container -->
        <div class="container"></div>
        <section>
            <!-- Grid Item-->
            <div>
                <div><img src="../static/images/icon.jpg"></div>
            </div>
            <div>
                <div class="my_name"> Mr. Nomnoms</div>
                <div class=""my_title"> Knowledgeable Monster</div>
                <div class=""links">
                    <div class ="link_item">
                        svg
                        <a href="https://www.teachyourmonstertoread.com/">readingmonsters.com</a>
                    </div>
                    <div class="link_item">
                        svg
                        <a href="mailto:alfred.ortiz1@marist.edu">alfred.ortiz1@marist.edu</a>
                    </div>
            <div class="link_item">
                svg
                <a href="tel:845-699-9348">845-699-9348</a>
            </div>

                </div>
            </div>

        </section>
    <body>

    </body>
</html>//