<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Resume</title>
        <!--Font we will use for the resume-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
        <!-- Reset File -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">
        <!-- Ref to stylesheet -->
        <link href="../static/css/res_style.css" rel="stylesheet">
    </head>
        <!-- Divide everything into setions using a class container -->
        <div class="container"></div>
        <section>
            <div>
                <div><img class="welcome_pic" src="../static/images/icon.jpg"></div>
            </div>

        </section>
    <body>

    </body>
</html>