/*Current Errors in here. Testing*/

html {
  background: url(../images/nomnom.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome_box {
    width: 400px;
    height: 455px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.welcome_pic {
border-radius: 50%;
height: 200px;
width: 200px;
}

.ps {

    font-family: sans-serif;
    font-size: x-small;
    letter-spacing: 1px;

}

.break_line{
width: 400px;
border-top: 1px solid white;


}