/*Html 
Generic Box Sizing
So that the Padding and the Border does not effect the width
This is called resetting box-sizing to border-box */

html {
    box-sizing: border-box;
}


/* before and after is a CSS trick to add the border styling from the parent element 'html' before and after
    The box-sizing: inherit it's styling from the parent element. Do this because it will be easier to change the box-sizing
    The Asterix is a selector, so selects all elements */

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Body 
Setting font type, the line height, background of page, and text color.*/

body {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.5;
    background: lightgray;
    COLOR: #323232;
}


/*Img
Set max-width to 100%, so the image will scale down but never scale up from it's original size*/

img {
    max-width: 100%;
}


/*Icon Class
    fill: currentColor - This allows the 'svg' icons to keep it's current color
    display: inline-block - This allows us to set a width and height on an element, respects top+bottom margins/paddings
    font-size: inherit - Takes property from its parent element
    height: 1em - Takes on the current font-size
    overflow: visible - Handles contents that overflows an element box.
*/

.icon {
    fill: currentColor;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible
}


/*Anchor Links*/

a {
    color: #323232
}

a:hover {
    text-decoration: underline;
}


/* Container Class */

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 32px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*Section Styling
Structures the sections and divides each by a gray line*/

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 24px 0;
    border-bottom: 1px solid lightgray;
}


/*:last-child allows us to construct the last element*/

section:last-child {
    border-bottom: none;
}


/*Section Title Class
*/

.section_title {
    font-weight: bold;
    font-size: 18px;
}


/*------- 
Main Info
--------*/


/* Styling for the profile picture*/

img.pro_pic {
    border-radius: 50%;
}


/*My Name Class
Styling for the Profile Name*/

.my_name {
    font-size: 40px;
    line-height: 1;
}


/*My Title Class
Styling for Profile User's Title (under Profile name)*/

.my_title {
    font-size: 24px;
    font-weight: 300;
    color: #236Fb2;
}

.links {
    display: flex;
    margin: 10px 0 20px 0;
}

.link_item {
    display: flex;
    align-items: center;
    flex: 1;
}