<!DOCTYPE HTML>

<html>

<head>
    <!--<meta> tag to handle universal character display-->
    <meta charset="utf-8">
    <title>About</title>

</head>

<body>

    <h1> Welcome to the most awesomest page! </h1>
    <p> Why is this the most awesomest page?!? </p>
    <ul>
        <li> Because </li>
        <li>I </li>
        <li> Said </li>
        <li> So... </li>
        <li>
            <li> dot dot DOT!!!</li>
    </ul>
    <br>
    <p> On a serious note, I made this website by using Flask. With Flask you can set up routes and also create dynamic routes.</p>
    <ul>
        <li>
            <b>Routes</b> are set by using @flaskname.route('/destination'). Look in your URL and you'll see there is an /about at the end. Thats the route to this AMAZING PAGE!
        </li>

        <br>

        <li>
            <b>Dynamic Routes</b> are just like routes but differ in that it takes in a response from the user. Depending on what kind of response it's looking for it will act accordingly. For example go back to the /index page and follow the instructions
            there about telling me your name by adding a route in the url. It's FUN!.... DO EEET!!!!
        </li>
    </ul>


</body>

</html>