{% block scripts %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js', _external=True) }}"></script> 
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js', _external=True) }}"></script> 

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js', _external=True) }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js', _external=True) }}"></script>
    <script src="{{ url_for('static', filename='js/contact_me.js', _external=True) }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/freelancer.min.js', _external=True) }}"></script>
{% endblock scripts %}
