<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Custom fonts for this theme -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="../static/css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">
    {% block body %}
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav"> {% block nav %} {% endblock %}</nav>
    <div class="container">{% block container %} {% endblock %}</div>
    <div class="container">{% block container2 %} {% endblock %}</div>
    <div class="container">{% block container3 %} {% endblock %}</div>
    <div class="container">{% block container4 %} {% endblock %}</div>
    {% block masthead %} {% endblock %} {% block portfolio %} {% endblock %} {% block about %} {% endblock %} {% block contact %} {% endblock %} {% block foot %} {% endblock %} {% endblock %}


</body>

</html>