{% extends 'base.html' %} 
    
<!--The Masthead-->
    {% block name %} {{ name }} {% endblock %}

    {% block filePath %}../static/img/icon.jpg{% endblock %}

    {% block typeWork %} {{ workType }} {% endblock %}
<!--End Masthead-->

<!--The Portfolio-->
<!--Item1-->
{% block interestImg1 %}../static/img/portfolio/football.png{% endblock %}
{% block proMod1 %}Football{% endblock %}
{% block modalImg1 %}{% endblock%}
<!--Item2-->
{% block interestImg2 %}../static/img/portfolio/food.png{% endblock %}
{% block proMod2 %}Food{% endblock %}
{% block modalImg2 %}../static/img/portfolio/food.png{% endblock%}
<!--Item3-->
{% block interestImg3 %}../static/img/portfolio/family.png{% endblock %}
{% block proMod3 %}Family{% endblock %}
{% block modalImg3 %}../static/img/portfolio/family.png{% endblock%}
<!--Item4-->
{% block interestImg4 %}../static/img/portfolio/gaming.jpg{% endblock %}
{% block proMod4 %}Gaming{% endblock %}
{% block modalImg4 %}../static/img/portfolio/gaming.jpg{% endblock%}
<!--Item5-->
{% block interestImg5 %}../static/img/portfolio/vr.jpg{% endblock %}
{% block proMod5 %}Virtual Reality{% endblock %}
{% block modalImg5 %}../static/img/portfolio/vr.jpg{% endblock%}
<!--Item6-->
{% block interestImg6 %}../static/img/portfolio/coding.png{% endblock %}
{% block proMod6 %}Coding{% endblock %}
{% block modalImg6 %}../static/img/portfolio/coding.png{% endblock%}
<!--End Portfolio-->