{% extends 'base.html' %}

<!--The Masthead-->
{% block name %} {{ name }} {% endblock %}

{% block filePath %}../static/img/icon.jpg{% endblock %}

{% block typeWork %} {{ workType }} {% endblock %}
<!--End Masthead-->

<!--The Portfolio-->
<!--Item1-->
{% block interestImg1 %}../static/img/portfolio/football.png{% endblock %}
{% block proMod1 %}Football{% endblock %}
{% block modalImg1 %}../static/img/portfolio/football.png{% endblock%}
{% block modText1 %}Use to play football in highschool. I played wide receiver and safety. Now I play for a team for the
Marist Flag Football club. {% endblock %}
<!--Item2-->
{% block interestImg2 %}../static/img/portfolio/food.png{% endblock %}
{% block proMod2 %}Food{% endblock %}
{% block modalImg2 %}../static/img/portfolio/food.png{% endblock%}
{% block modText2 %}I love food, can't get enough of it. I enjoy red meats, and steak is my all time favorite. I mostly
cook spanish dishes myself.{% endblock %}
<!--Item3-->
{% block interestImg3 %}../static/img/portfolio/family.png{% endblock %}
{% block proMod3 %}Family{% endblock %}
{% block modalImg3 %}../static/img/portfolio/family.png{% endblock%}
{% block modText3 %}I have a wife, and a son. Love them both with all my heart as they are the backbone to me returning
to school and pursuing my degree.{% endblock %}
<!--Item4-->
{% block interestImg4 %}../static/img/portfolio/gaming.jpg{% endblock %}
{% block proMod4 %}Gaming{% endblock %}
{% block modalImg4 %}../static/img/portfolio/gaming.jpg{% endblock%}
{% block modText4 %}Hardcore gamer til the day I die. I absolutely love gaming. Rpg titles are my favorite, however, I'm
very competitive so you'll see me play a lot of league of legends.{% endblock %}
<!--Item5-->
{% block interestImg5 %}../static/img/portfolio/vr.jpg{% endblock %}
{% block proMod5 %}Virtual Reality{% endblock %}
{% block modalImg5 %}../static/img/portfolio/vr.jpg{% endblock%}
{% block modText5 %}Virtual Reality has changed my life! It's absolutely a must have in every home. Personally I can't
wait until they make a full blow MMO for VR. I'm on team HTC Vive, because of the steam software.{% endblock %}
<!--Item6-->
{% block interestImg6 %}../static/img/portfolio/coding.png{% endblock %}
{% block proMod6 %}Coding{% endblock %}
{% block modalImg6 %}../static/img/portfolio/coding.png{% endblock%}
{% block modText6 %}Coding, coding, coding! I can't wait until I'm able to just code on the fly. However, I know I'll
always be learning something new and researching. My dream is to control robots with virtual reality so people who have
difficulty getting jobs due to a handicap, can just use a VR.{% endblock %}
<!--End Portfolio-->

<!--About Me-->
{% block aboutMe1 %}In my personal life I have found that I enjoy a humble simple life. I don't need much to keep going,
I have all the motivation I need, and strive for greatness in everything I do.{% endblock %}
{% block aboutMe2 %}In a working environment I like to be as helpful as I can. Adapt to any situation and provide help to
others who may need it. I believe working together as a team is key. Through communication and strong work ethics I will
get through the day.{% endblock %}
<!--End About Me-->

<!--Footer-->
{% block homeAdd %}3399 North Rd,{% endblock %}
{% block stateAdd %}Poughkeepsie, NY 12601{% endblock %}
{% block linkedin %}https://www.linkedin.com/in/alfred-ortiz-36a729121/{% endblock %}
<!--End Footer-->